*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

div{
    width:80%;
    margin:auto;
}

header{
 width: 100%;
 display: flex;
 justify-content: space-between;
 margin-top: 3em;
}

nav{
    display: flex;
    flex-direction: row;
    
}

.nav-list {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

.nav-item{
    margin-right: 15px;
    color: hsl(236, 13%, 42%);
}