*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

div{
    width:80%;
    margin:auto;
}

header{
 width: 100%;
 display: flex;
 justify-content: space-between;
 margin-top: 3em;
}

a{
    text-decoration: none;
}

a:visited{
    text-decoration: none;
}

nav{
    display: flex;
    flex-direction: row;
    
}

.nav-list {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

.nav-item{
    margin-right: 1.5em;
    color: hsl(236, 13%, 42%);
}

.content-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.top-container{
width:100%;
margin-bottom: 3.5em;
}

.main-article{
    margin-top: 3em;
    width:61%;
    margin-left: 0;
    
}

.web-three-desktop{
    width:100%;
    display: flex;
    flex-direction: row;
}

#main-article-header{
    width: 47%;
    font-size: 3rem;
    font-weight: bolder;
}



#main-article-p{
    width: 47%;
    color: hsl(236, 13%, 42%);
}

#main-article-btn{
    color: white;
    background-color: hsl(5, 85%, 63%);
    border: none;
    text-transform:uppercase;
    padding: .8em 1.5em;
    letter-spacing: .2rem;
    margin-top: 2em;
}

.new-menu{
    background-color: black;
    color: white;
}